services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    # Point to the backend-specific .env
    env_file:
      - ./backend/.env 
    restart: always

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    # Point to the frontend-specific .env
    env_file:
      - ./Frontend/.env
    depends_on:
      - backend
    restart: always